.headingWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-lg);
}

.heading {
  font-size: var(--fs-sm-2);
  font-weight: var(--fw-2);
  padding: 0 var(--space-md);
}

.carousel {
  -ms-overflow-style: none;
  display: flex;
  gap: var(--space-md);
  margin-bottom: var(--space-md);
  overflow-x: scroll;
  padding: var(--space-md);
  scrollbar-width: none;
  width: 100%;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.seeAllBtn {
  flex-shrink: 0;
}

.seeAllBtn:hover {
  background-color: initial;
}
