.tab {
  color: white;
  margin: var(--space-xxxs) auto;
  width: 100%;
  text-transform: capitalize;
}

.tab:hover {
  background-color: var(--primary);
}

.active {
  background-color: var(--primary);
}
