.card {
  cursor: pointer;
}

.thumbnailWrapper {
  position: relative;
}

.thumbnail {
  height: 180px;
  object-fit: cover;
  width: 100%;
}

.header {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: var(--space-xxs);
  position: absolute;
  width: 100%;
}

.videoLength {
  background-color: var(--dark);
  border-radius: var(--br-xxs);
  font-size: var(--fs-xxs-2);
  padding: var(--space-xxxs) var(--space-xxs);
}

.btnWrapper {
  display: flex;
  font-size: var(--fs-md-1);
  gap: var(--space-xxxs);
}

.button {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: var(--br-full);
  border: none;
  color: var(--light);
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  transition: background-color 0.2s ease-in;
  width: 40px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 1);
}

.body {
  align-items: flex-start;
  display: flex;
  font-size: var(--fs-xxs-2);
  gap: var(--space-xxs);
  overflow-x: hidden;
  padding: var(--space-xxs) 0;
}

.channelThumbnail {
  border-radius: var(--br-full);
  height: 50px;
  width: 50px;
}

.bodyContent {
  overflow-x: hidden;
  width: 100%;
}

.title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: white;
  display: -webkit-box;
  font-size: var(--fs-xs-1);
  font-weight: var(--fw-4);
  overflow: hidden;
  text-overflow: ellipsis;
}

.channelName {
  color: var(--grey-2);
  cursor: pointer;
  font-size: var(--fs-xxs-2);
}

.channelDetails {
  color: var(--grey-2);
  display: flex;
  font-size: var(--fs-xxs-1);
}

.dot::before {
  content: "•";
  margin: 0 4px;
}

.liked {
  color: var(--primary);
}

.playlistMenu {
  background-color: var(--secondary-theme-color);
  border-radius: var(--br-xs);
  flex-direction: column;
  font-size: var(--fs-xs-1);
  padding: var(--space-xs);
  position: absolute;
  right: 10px;
  top: 46px;
  z-index: 5;
}

.menuOpen {
  display: flex;
}

.menuClose {
  display: none;
}
