.card {
  -webkit-backdrop-filter: blur(0px);
  align-items: center;
  backdrop-filter: blur(0px);
  background-color: #eb1463;
  border-radius: var(--br-sm);
  box-shadow: 0 2px 20px 0 rgba(255, 5, 47, 0.8);
  color: white;
  display: flex;
  font-size: var(--fs-sm-2);
  justify-content: space-between;
  margin: 0 var(--space-md) var(--space-xxs);
  padding: var(--space-xs) var(--space-md);
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 768px) {
  .card {
    margin: 0 var(--space-xs) var(--space-xxs);
  }
}
