.header {
  align-items: center;
  display: flex;
  gap: var(--space-xs);
  margin: var(--space-sm) 0 var(--space-sm) var(--space-md);
  padding: 0;
  position: relative;
}

.filter {
  font-size: var(--fs-sm-1);
}

.filterBtn {
  align-items: center;
  background-color: initial;
  border: 1px solid white;
  color: var(--primary);
  cursor: pointer;
  display: flex;
  font-size: var(--fs-lg-1);
  gap: var(--space-xxxs);
  padding: var(--space-xxs) var(--space-xs);
  position: relative;
  transition: background-color 0.2s ease-in;
}

.filterBtn:hover {
  background-color: black;
}

.filterMenuWrapper {
  left: 0;
  max-width: 550px;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 2;
}

.isActive {
  display: initial;
}

.isInActive {
  display: none;
}

@media screen and (max-width: 480px) {
  .header {
    padding: 0;
  }
}
