.body {
  flex-shrink: 0;
  height: calc(100vh - 88px);
  overflow-y: hidden;
}

.historyWrapper {
  display: flex;
  gap: var(--space-sm);
  height: calc(100vh - 160px);
  padding: var(--space-md);
}

.emptyHistoryMsg {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: var(--fs-lg-1);
  justify-content: center;
  text-align: center;
  width: 100%;
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 1024px) {
  .historyWrapper {
    flex-direction: column;
    height: fit-content;
  }

  .body {
    height: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .historyWrapper {
    padding: var(--space-xs);
  }
}
