.body {
  flex-shrink: 0;
  height: calc(100vh - 88px);
  overflow-y: hidden;
}

.likedWrapper {
  display: flex;
  gap: var(--space-sm);
  height: calc(100vh - 160px);
  padding: var(--space-md);
}

.emptyLikesMsg {
  align-items: center;
  display: flex;
  font-size: var(--fs-lg-1);
  justify-content: center;
  text-align: center;
  width: 100%;
}

.emptyLikesMsgWrapper {
  display: flex;
  flex-direction: column;
}

.emptyLikesMsgWrapper > a {
  margin: auto;
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 1024px) {
  .likedWrapper {
    flex-direction: column;
    height: fit-content;
  }

  .body {
    height: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .likedWrapper {
    padding: var(--space-xs);
  }

  .videolistWrapper {
    height: fit-content;
  }
}
