.settings {
  height: 100%;
  padding: var(--space-md);
}

.greet {
  font-size: var(--fs-sm-1);
}

.btnsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  width: 200px;
}

.btn {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
}

.btn > svg {
  font-size: var(--fs-md-1);
  margin-right: var(--space-xxs);
}
