.singleVideoPage {
  height: fit-content;
  padding: var(--space-md);
}

.videoEmbed {
  height: 70vh;
  object-fit: cover;
  width: 100%;
}

.videoWrapper {
  background-color: var(--secondary-theme-color);
  border-radius: var(--br-md);
  padding: var(--space-xl);
}

.descriptionWrapper {
  display: flex;
  gap: var(--space-sm);
  justify-content: space-between;
  margin-top: var(--space-lg);
}

.description {
  width: 100%;
}

.trendingVideos {
  background-color: var(--dark);
  border-radius: var(--br-md);
  height: 400px;
  overflow-y: scroll;
  padding: var(--space-xs);
  scrollbar-color: var(--primary) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  width: min(400px, 95%);
  flex-shrink: 0;
}

.trendingVideos::-webkit-scrollbar {
  width: 5px;
}

.trendingVideos:hover.trendingVideos::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: var(--br-full);
}

.title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: var(--fs-md-1);
  font-weight: var(--fw-4);
  overflow: hidden;
  text-overflow: ellipsis;
}

.descriptionText {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  color: white;
  display: -webkit-box;
  font-size: var(--fs-xs-1);
  font-weight: var(--fw-3);
  margin: var(--space-md) var(--space-md) 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dot::before {
  content: "•";
  margin: 0 6px;
}

.videoInfoWrapper {
  align-items: center;
  border-bottom: 1px solid var(--grey-4);
  color: var(--grey-3);
  display: flex;
  font-size: var(--fs-xs-1);
  font-weight: var(--fw-3);
  justify-content: space-between;
  margin-top: var(--space-xs);
  padding-bottom: var(--space-sm);
}

.videoInfo {
  display: flex;
  text-align: center;
}

.valueWrapper {
  align-items: center;
  background-color: initial;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  gap: var(--space-xxxs);
  padding: var(--space-xxxs) var(--space-xxs);
  position: relative;
}

.channelWrapper {
  display: flex;
  gap: var(--space-xs);
  margin-top: var(--space-sm);
}

.channelDetails {
  display: flex;
  flex-direction: column;
}

.channelThumbnail {
  border-radius: var(--br-full);
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.channelName {
  color: white;
  font-size: var(--fs-sm-1);
}

.channelSubs {
  color: var(--grey-3);
  font-size: var(--fs-xxs-2);
}

.iconsWrapper {
  align-items: center;
  color: white;
  display: flex;
  font-size: var(--fs-sm-2);
  position: relative;
}

.value {
  font-size: var(--fs-xxs-2);
  text-transform: uppercase;
}

.bookmarkIcon {
  font-size: var(--fs-sm-1);
}

.playlistIcon {
  font-size: var(--fs-m-2);
}

.liked > svg {
  color: var(--primary);
}

.playlistMenu {
  background-color: var(--dark);
  padding: var(--space-xs);
  flex-direction: column;
  position: absolute;
  top: 32px;
  right: 0px;
  font-size: var(--fs-xs-1);
  z-index: 5;
  border-radius: var(--br-xs);
  width: 200px;
}

.menu {
  right: 4rem;
  top: 2.5rem;
}

.menuOpen {
  display: flex;
}

.menuClose {
  display: none;
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 1024px) {
  .descriptionWrapper {
    flex-direction: column;
  }

  .trendingVideos {
    width: 100%;
    margin-top: var(--space-lg);
  }

  .menu {
    right: 6.5rem;
  }
}
@media screen and (max-width: 768px) {
  .singleVideoPage {
    padding: var(--space-xs);
  }

  .descriptionWrapper {
    padding: var(--space-xs);
  }

  .videoWrapper {
    padding: 0;
  }

  .value {
    font-size: var(--fs-xs-2);
  }

  .videoInfoWrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .videoInfo {
    margin-left: var(--space-xs);
  }

  .iconsWrapper {
    width: 100%;
    justify-content: space-between;
    margin-top: var(--space-xs);
  }

  .videoEmbed {
    height: 50vw;
    object-fit: cover;
    width: 100%;
  }
}
