.card {
  align-items: flex-start;
  color: white;
  cursor: pointer;
  display: flex;
  min-width: 300px;
  position: relative;
  width: 100%;
}

.image {
  border-bottom-left-radius: var(--br-xs);
  border-top-left-radius: var(--br-xs);
  height: 80px;
  object-fit: cover;
  width: 140px;
}

.videoLength {
  background-color: var(--dark);
  border-radius: var(--br-xxs);
  bottom: 5px;
  font-size: var(--fs-xxs-2);
  right: 5px;
  padding: 2px var(--space-xxs);
  position: absolute;
}

.title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: var(--fs-xs-1);
  font-weight: var(--fw-3);
  overflow: hidden;
  text-overflow: ellipsis;
}

.channelName {
  color: var(--grey-3);
  font-size: var(--fs-xxs-2);
  font-weight: var(--fw-3);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.body {
  background-color: rgba(256, 256, 256, 0.1);
  border-bottom-right-radius: var(--br-xs);
  border-top-right-radius: var(--br-xs);
  color: white;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
  overflow-x: hidden;
  padding: var(--space-xxs);
  transition: background-color 0.2s ease-in;
  width: 100%;
}

.body:hover {
  background-color: rgba(256, 256, 256, 0.25);
}

.menuBtn {
  color: white;
  font-size: var(--fs-xl-1);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.menuWrapper {
  display: none;
}

.card:hover > .menuWrapper {
  display: flex;
}

.menu {
  background-color: var(--secondary-theme-color);
  border-radius: var(--br-xs);
  display: none;
  flex-direction: column;
  gap: var(--space-xxxs);
  padding: var(--space-xxs);
  position: absolute;
  right: 10px;
  top: 48px;
  z-index: 2;
}

.menuWrapper:hover > .menu {
  display: flex;
}

.menuActionBtn {
  align-items: center;
  background-color: initial;
  border-radius: var(--br-xs);
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: var(--fs-xs-1);
  font-weight: var(--fw-3);
  gap: var(--space-xxs);
  padding: var(--space-xxs);
  transition: background-color 0.2s ease-in;
}

.menuActionBtn:hover {
  background-color: var(--dark);
}

.addToPlaylistIcon {
  font-size: var(--fs-md-2);
}

.imageWrapper {
  color: white;
  position: relative;
}
