.filtersWrapper {
  -ms-overflow-style: none;
  display: flex;
  gap: var(--space-xs);
  overflow-x: scroll;
  padding: 0 var(--space-md) 0 var(--space-xxs);
  scrollbar-width: none;
}

.filtersWrapper::-webkit-scrollbar {
  display: none;
}

.chip {
  cursor: pointer;
  flex-shrink: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
