.card {
  border-radius: var(--br-lg);
  color: white;
  cursor: pointer;
  flex-shrink: 0;
  height: 6rem;
  position: relative;
  transition: box-shadow 0.2s ease-in;
  width: 300px;
}

.playlistPageStyling {
  cursor: default;
  width: 50%;
}

.actionBtns {
  cursor: pointer;
}

.editPlaylistBtn {
  font-size: var(--fs-xxl-2);
}

.image {
  border-radius: var(--br-lg);
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.actionBtnsWrapper {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  font-size: var(--fs-xl-1);
  gap: var(--space-sm);
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

.card:hover > .actionBtnsWrapper {
  display: flex;
}

.body {
  align-items: center;
  background-color: white;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: var(--space-xs) var(--space-sm);
  position: absolute;
  width: 100%;
}

.title {
  color: var(--dark);
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
  width: 100%;
}

.videosWrapper {
  align-items: center;
  color: var(--dark);
  display: flex;
  font-size: var(--fs-lg-1);
  gap: var(--space-xxs);
  justify-content: center;
  margin: 0 var(--space-xxs);
  white-space: nowrap;
}

.videosCaption {
  font-size: var(--fs-xs-1);
  text-transform: uppercase;
}

.playBtn {
  background-color: initial;
  border: none;
}

.playBtn > a {
  align-items: center;
  color: white;
  display: flex;
}

@media screen and (max-width: 768px) {
  .playlistPageStyling {
    cursor: default;
    width: 40%;
  }
}

@media screen and (max-width: 640px) {
  .playlistPageStyling {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .playlistPageStyling {
    width: 75%;
  }
}
