.drawer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  padding: var(--space-sm);
  scrollbar-color: var(--primary) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  width: 25rem;
}

.isOpen {
  display: flex;
}

.drawer::-webkit-scrollbar {
  width: 5px;
}

.drawer:hover.drawer::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: var(--br-full);
}

.drawerHeader {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: var(--space-xs);
  width: 100%;
}

.brandName {
  color: white;
  font-size: var(--fs-lg-2);
  margin-left: var(--space-xxs);
}

.primaryFont {
  color: var(--primary);
  font-weight: var(--fw-3);
}

.profileBadge {
  align-items: center;
  display: flex;
  font-size: var(--fs-md-2);
  gap: var(--space-xxs);
  margin: auto auto 0;
  padding: var(--space-xxxs) var(--space-md) var(--space-xxxs) var(--space-xxxs);
  width: fit-content;
}

.profileBadge > a {
  align-items: center;
  color: var(--dark);
  display: flex;
  gap: var(--space-xs);
}

.profileBadge svg {
  background-color: var(--dark);
  border-radius: var(--br-full);
  color: white;
  font-size: var(--fs-xl-2);
  height: var(--space-xl);
  padding: var(--space-xxxs);
  width: var(--space-xl);
}

.mobileDrawer {
  align-items: center;
  background-color: var(--secondary-theme-color);
  border-top: 1px solid var(--grey-5);
  bottom: 0;
  display: none;
  font-size: var(--fs-md-1);
  height: 60px;
  justify-content: space-evenly;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.mobileDrawer > button {
  background-color: initial;
  border-radius: var(--br-full);
  border: none;
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  color: white;
  cursor: pointer;
  justify-content: center;
}

.mobileDrawer a {
  color: white;
  display: flex;
}

.mobileDrawer .active {
  background-color: var(--primary);
}

.largeBtn {
  font-size: var(--fs-lg-2);
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 768px) {
  .drawer {
    display: none;
  }

  .mobileDrawer {
    display: flex;
  }
}
