.app {
  align-items: flex-start;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  margin: auto;
  max-width: 1500px;
  min-height: 100vh;
}

.mainBody {
  background-color: var(--dark);
  height: 100%;
  overflow-x: hidden;
  padding: var(--space-md) 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainContent {
  height: fit-content;
  margin-top: var(--space-xxs);
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 768px) {
  .mainBody {
    padding: var(--space-xxs) 0 0;
  }
}
