@import url("https://vispa-ui.vercel.app/css/main.css");

/*
***************** GLOBAL STYLING *****************
*/
:root {
  --dark: #131d28;
  --primary-theme-color: white;
  --secondary-theme-color: #001219;
  font-size: 74%;
}

html {
  color: white;
  font-family: "Poppins", sans-serif;
  height: 100%;
  min-height: 100vh;
}

body {
  align-items: center;
  background-color: var(--secondary-theme-color);
  color: var(--primary-theme-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

#root {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.button {
  align-items: center;
}

iframe {
  pointer-events: none;
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 1536px) {
  :root {
    font-size: 66%;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: 58%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 54%;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 50%;
  }
}
